<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PHeasyCalc"
        tools:targetApi="31">
        <activity
            android:name=".activity_kotlin_fypr_2"
            android:exported="false" />
        <activity
            android:name=".activity_kotlin_fypr_1"
            android:exported="false" />
        <activity
            android:name=".activity_kotlin_f_tyazh_2"
            android:exported="false" />
        <activity
            android:name=".KotlinFTyazhActivity"
            android:exported="false" />
        <activity
            android:name=".OMactivity2"
            android:exported="false" />
        <activity
            android:name=".OMactivity1"
            android:exported="false" />
        <activity
            android:name=".Qactivity2"
            android:exported="false" />
        <activity
            android:name=".Qactivity1"
            android:exported="false" />
        <activity
            android:name=".Aactivity2"
            android:exported="false" />
        <activity
            android:name=".Aactivity1"
            android:exported="false" />
        <activity
            android:name=".Pactivity2"
            android:exported="false" />
        <activity
            android:name=".Pactivity1"
            android:exported="false" />
        <activity
            android:name=".Ractivity2"
            android:exported="false" />
        <activity
            android:name=".Ractivity1"
            android:exported="false" />
        <activity
            android:name=".Uactivity2"
            android:exported="false" />
        <activity
            android:name=".Uactivity1"
            android:exported="false" />
        <activity
            android:name=".Iactivity2"
            android:exported="false" />
        <activity
            android:name=".Iactivity1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>